In [1]:
import pandas as pd
import plotly.express as px
import numpy as np

In [2]:
df = pd.read_csv('/content/cia_factbook.csv')

In [3]:
df.head()

         country        area  ...    population  population_growth_rate
0         Russia  17098242.0  ...  1.424703e+08                   -0.03
1         Canada   9984670.0  ...  3.483484e+07                    0.76
2  United States   9826675.0  ...  3.188921e+08                    0.77
3          China   9596960.0  ...  1.355693e+09                    0.44
4         Brazil   8514877.0  ...  2.026568e+08                    0.80

[5 rows x 11 columns]

In [6]:
df.columns

Index(['country', 'area', 'birth_rate', 'death_rate', 'infant_mortality_rate',
       'internet_users', 'life_exp_at_birth', 'maternal_mortality_rate',
       'net_migration_rate', 'population', 'population_growth_rate'],
      dtype='object')

In [11]:
for category in df.columns[1:]:
  print([category])

['area']
['birth_rate']
['death_rate']
['infant_mortality_rate']
['internet_users']
['life_exp_at_birth']
['maternal_mortality_rate']
['net_migration_rate']
['population']
['population_growth_rate']