In [1]:
import pandas as pd
import plotly.express as px
import numpy as np

In [2]:
df = pd.read_csv('../data/cia_factbook.csv')

In [3]:
df.head()

,country,area,birth_rate,death_rate,infant_mortality_rate,internet_users,life_exp_at_birth,maternal_mortality_rate,net_migration_rate,population,population_growth_rate
0,Russia,17098242.0,11.87,13.83,7.08,40853000.0,70.16,34.0,1.69,1.424703e+08,-0.03
1,Canada,9984670.0,10.29,8.31,4.71,26960000.0,81.67,12.0,5.66,3.483484e+07,0.76
2,United States,9826675.0,13.42,8.15,6.17,245000000.0,79.56,21.0,2.45,3.188921e+08,0.77
3,China,9596960.0,12.17,7.44,14.79,389000000.0,75.15,37.0,-0.32,1.355693e+09,0.44
4,Brazil,8514877.0,14.72,6.54,19.21,75982000.0,73.28,56.0,-0.15,2.026568e+08,0.80

In [4]:
df.columns

Index(['country', 'area', 'birth_rate', 'death_rate', 'infant_mortality_rate',
       'internet_users', 'life_exp_at_birth', 'maternal_mortality_rate',
       'net_migration_rate', 'population', 'population_growth_rate'],
      dtype='object')

In [5]:
for category in df.columns[2:]:
  print(f'\n**Top 5 Countries: {category}**')
  print(df.sort_values(category, ascending=False).head()['country'], '\n')

**Top 5 Countries: birth_rate**
21           Niger
23            Mali
80          Uganda
38          Zambia
74    Burkina Faso
Name: country, dtype: object


**Top 5 Countries: death_rate**
24      South Africa
45           Ukraine
140          Lesotho
20              Chad
136    Guinea-Bissau
Name: country, dtype: object


**Top 5 Countries: infant_mortality_rate**
40                  Afghanistan
23                         Mali
43                      Somalia
44     Central African Republic
136               Guinea-Bissau
Name: country, dtype: object


**Top 5 Countries: internet_users**
3             China
2     United States
61            Japan
4            Brazil
62          Germany
Name: country, dtype: object


**Top 5 Countries: life_exp_at_birth**
234        Monaco
228         Macau
61          Japan
189     Singapore
222    San Marino
Name: country, dtype: object


**Top 5 Countries: maternal_mortality_rate**
41                  South Sudan
20                         Chad
43                      Somalia
44     Central African Republic
118                Sierra Leone
Name: country, dtype: object


**Top 5 Countries: net_migration_rate**
168                   Lebanon
164                     Qatar
60                   Zimbabwe
215    British Virgin Islands
111                    Jordan
Name: country, dtype: object


**Top 5 Countries: population**
3               China
6               India
257    European Union
2       United States
14          Indonesia
Name: country, dtype: object


**Top 5 Countries: population_growth_rate**
168        Lebanon
60        Zimbabwe
41     South Sudan
111         Jordan
164          Qatar
Name: country, dtype: object

In [6]:
def search(country_name):
    return (df[df['country'] == country_name])

In [7]:
search('Canada')

,country,area,birth_rate,death_rate,infant_mortality_rate,internet_users,life_exp_at_birth,maternal_mortality_rate,net_migration_rate,population,population_growth_rate
1,Canada,9984670.0,10.29,8.31,4.71,26960000.0,81.67,12.0,5.66,34834841.0,0.76

In [8]:
search('United States')

,country,area,birth_rate,death_rate,infant_mortality_rate,internet_users,life_exp_at_birth,maternal_mortality_rate,net_migration_rate,population,population_growth_rate
2,United States,9826675.0,13.42,8.15,6.17,245000000.0,79.56,21.0,2.45,318892103.0,0.77

In [9]:
search('Australia')

,country,area,birth_rate,death_rate,infant_mortality_rate,internet_users,life_exp_at_birth,maternal_mortality_rate,net_migration_rate,population,population_growth_rate
5,Australia,7741220.0,12.19,7.07,4.43,15810000.0,82.07,7.0,5.74,22507617.0,1.09

In [10]:
search('France')

,country,area,birth_rate,death_rate,infant_mortality_rate,internet_users,life_exp_at_birth,maternal_mortality_rate,net_migration_rate,population,population_growth_rate
42,France,643801.0,12.49,9.06,3.31,45262000.0,81.66,8.0,1.09,66259012.0,0.45