In [1]:
import pandas as pd
import plotly.express as px
import numpy as np

In [2]:
df = pd.read_csv('../data/cia_factbook.csv')

In [3]:
df.head()

,country,area,birth_rate,death_rate,infant_mortality_rate,internet_users,life_exp_at_birth,maternal_mortality_rate,net_migration_rate,population,population_growth_rate
0,Russia,17098242.0,11.87,13.83,7.08,40853000.0,70.16,34.0,1.69,1.424703e+08,-0.03
1,Canada,9984670.0,10.29,8.31,4.71,26960000.0,81.67,12.0,5.66,3.483484e+07,0.76
2,United States,9826675.0,13.42,8.15,6.17,245000000.0,79.56,21.0,2.45,3.188921e+08,0.77
3,China,9596960.0,12.17,7.44,14.79,389000000.0,75.15,37.0,-0.32,1.355693e+09,0.44
4,Brazil,8514877.0,14.72,6.54,19.21,75982000.0,73.28,56.0,-0.15,2.026568e+08,0.80

In [4]:
df.columns

Index(['country', 'area', 'birth_rate', 'death_rate', 'infant_mortality_rate',
       'internet_users', 'life_exp_at_birth', 'maternal_mortality_rate',
       'net_migration_rate', 'population', 'population_growth_rate'],
      dtype='object')

In [5]:
for category in df.columns[1:]:
  print([category])

['area']
['birth_rate']
['death_rate']
['infant_mortality_rate']
['internet_users']
['life_exp_at_birth']
['maternal_mortality_rate']
['net_migration_rate']
['population']
['population_growth_rate']